@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Playfair Display', serif;
}

.navbar{
	width: 100%;
	height: 100px;
	background-color: powderblue;
}

.navbar h1{
	font-size: 40px;
	text-align: center;
	margin:auto;
	padding-top: 20px;
}

.container{
	width: 80%;
	margin: 10px auto;
}

.box{
	margin-top: 30px;
	height: 160px;
	border: 2px solid black;
	text-align: center;
	padding-top: 30px;
	line-height: 1.6em;
}

.container p{
	margin: 30px;
}

.container p a{
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	border-style: none;
	color: rgb(255,255,255);
	background: rgb(190,190,190);
}

/*registration-form*/

.registration-form, .login-form{
	width: 60%;
	margin: 20px auto;
	border-style: none;
}

.registration-form h1, .login-form h1{
	text-align: center;
	font-size: 29px;
	padding: 20px;
}

.registration-form p, .login-form p{
	margin-bottom: 30px;
}

.registration-form input[type='text'], .registration-form input[type='password'], .login-form input{
	height: 30px;
	width: 35%;
}

.registration-form button, .login-form button{
	width: 90px;
	height: 40px;
	font-size: 20px;
}

.error, .login-form h3{
	color: red;
}

.wrapper_customer{
	width: 70%;
	margin: 40px auto;
}

.navbar_customer{
	height: 70px;
	border: 1px solid black;

}

.navbar_customer ul{
	list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}

.navbar_customer ul li{
	flex: 1;
	height: 70px;
	text-align: center;
	padding-top: 20px;
}

.navbar_customer a{
	display: block;
	text-decoration: none;
	color: rgb(2,2,2);
}

.navbar_customer li:hover{
	background: rgb(69,69,69,0.2);
	cursor: pointer;
}

.element{
	border-right: 1px solid rgb(70,70,70,0.4);
}
